.banner {
  position: relative;
  text-align: center;
}

.banner img {
  height: 312px;
  object-fit: cover;
}

.banner-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-label h1 {
  letter-spacing: 2px;
}

h1 + div {
  width: 100px;
  height: 4px;
  background-color: #d8b638;
}

div > a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

div > a:hover {
  color: white;
}

div > a:not(:last-child) {
  margin-right: 5rem;
}
